.App {
  text-align: center;
  padding-bottom: 3rem;
}

.normal-link{
  text-transform: capitalize;
  font-style: normal;
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
.normal-link:hover{
 color: #ccc;
}